*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    font-family: 'arial';
    background: #F5F5F5;
    color: #666;
}

.wrapper{
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.wrapper_overlay {
    height: 100vh;
    width: 100%;
    position: relative;
    display: none;
}

.wrapper_overlay div {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.219);
    position: fixed;
}

/*header section start*/
.header_navbar{
    padding: 0 3rem;
}

.header{
    background-image: linear-gradient(to left, #FF9B46,#FF7664);
    width: 100%;
    position: fixed;
    z-index: 101;
    height: 6rem;
}

.navbar-brand{
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #fff !important;
    font-weight: bolder;
    letter-spacing: .2rem;
    padding: .7rem 0;
}

.search_input{
    font-size: 1.4rem;
    padding: .7rem 1rem;
    border-radius: .5rem;
    transition: .5s ease-in-out;
}

.search_input:focus{
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.541);
}

.notification_menu{
    margin: 0;
    padding: 0;
}

.notification_menu li{
    list-style: none;
    display: inline;
    margin: 0 1rem;
}

.notification_menu li a{
    font-size: 2rem;
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
}

.notification_menu li img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.notification_li{
    margin: 0 1rem;
    position: relative;
}

.notification_li::after{
    content: "";
    background: #3498db;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    transform: translate(-59%,74%);
}

/*3/23/2021 start*/
.admin_drop_link a{
    font-size: 1.4rem !important;
    color: #fff !important;
}

.dropdown-toggle::after{
    margin-top: 13% !important;
}

.admin_drop_menu{
    margin-left: -187%;
    background: #000;
    padding: 1rem;
    width: 15rem;
}

ul.dropdown-menu.admin_drop_menu.show li {
    margin: 0;
    padding: 0;
}

.admin_drop_menu li a{
    font-weight: normal !important;
    text-transform: capitalize;
}

.admin_drop_menu li:hover a{
    color: #3498db !important;
    background: #333;
}
/*3/23/2021 end*/
/*header section end*/

/*menu icon start*/
.side_bar_icon{
    border-bottom: .01rem solid #3498db;
    display: none;
    margin-top: 6rem;
}

.menu_icon{
    padding: 1rem 0;
}

.menu_icon a i{
    font-size: 1.5rem;
    color: #000;
    font-weight: bold;
}
/*menu icon end*/

/*side navigation bar start*/
.side_navigation_bar{
    width: 12%;
    height: calc(100vh - 6rem);
    background: #36434D;
    overflow: hidden;
    position: fixed;
    transition: .7s ease-in-out;
    z-index: 100;
    display: block;
    margin-top: 6rem;
}

.side_navigation_bar:hover{
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: .7rem;
}

::-webkit-scrollbar-track{
    background: transparent !important;
}

::-webkit-scrollbar-thumb{
    background: #bbbbbb;
    border-radius: 1rem;
}

.navigation_item_header{
    border-bottom: .001rem solid #3E4C88;
    padding-left: 1rem;
}

.navigation_item_header ul{
    width: 100%;
    margin-bottom: 0;
}

.menu_title{
    font-size: 1.5rem;
    color: #EFEAD7;
    font-weight: bold;
    text-transform: uppercase;
}

.features_title{
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #EFEAD7;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: .5rem;
}

.navigation_item_header ul li{
    list-style: none;
    margin: 2rem;
    margin-left: 0;
}

.navigation_item_header ul li i{
    color: #bbbbbb;
    font-size: 2rem;
    margin-right: .5rem;
}

.navigation_item_header ul li a{
    font-size: 1.5rem;
}

.login{
    color: #F9993c;
    margin-right: .5rem;
    text-decoration: none;
    text-transform: capitalize;
}

.login:hover{
    text-decoration: underline;
    color: #F9993c;
}

.navigation_menu{
    padding: 1rem;
    padding-left: 0;
    padding-right: .5rem;
}

.navigation_menu ul{
    margin: 0;
    padding: 0;
}

.navigation_menu ul li{
    list-style: none;
    border-left: .3rem solid #36434D;
    width: 100%;
    transition: .5s;
}

.navigation_menu ul li a{
    color: #A4ACBB;
    font-size: 13px;
    padding: .7rem;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    padding-left: 1rem;
}

.navigation_menu ul li:hover{
    border-left: .3rem solid #3498db;
    background: #2c2b2a;
}

.navigation_menu ul li a i {
    margin-top: 2%;
}

.side_rigth_arow{
    float: right;
    margin-right: 0 i !important;
}

.sidebar_submenu{
    display: none;
    padding: .3rem;
    padding-left: 0;
}

.sidebar_submenu ul li{
    transition: .5s ease-in-out;
}

.sidebar_submenu ul li:hover{
    background: #36434D !important;
}

.sidebar_submenu ul li a{
    font-size: 1.3rem !important;
}
/*side navigation bar end*/

/*data table start*/
.main_content{
    width: 88%;
    margin-left: auto;
    margin-top: 6rem;
    margin-bottom: 8rem;
}

/*data table input start*/
.data_heading{
    padding: 2rem;
    padding-bottom: 0;
}

.data_heading h3{
    color: #171B1B;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 2rem;
}

.data_text a{
    color: #686361;
    text-transform: capitalize;
    font-size: 1.4rem;
    text-decoration: none;
}

.add_text{
    color: #68636194;
    text-transform: capitalize;
    font-size: 1.4rem;
}

.data_input_field {
    margin: 1rem 2rem;
}

.data_input_field_head {
    padding: 1.5rem;
}

.data_input_field_head h3 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #171B1B;
    margin-bottom: 0;
}

.input_row{
    margin-top: .5rem;
}

label.input_field_name {
    color: #686361;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
    padding: .3rem 0;
}

.data_field_input_tag {
    border: 0.02rem solid #d8d6d6;
    padding: .7rem;
    color: #333;
    font-size: 1rem;
    border-radius: .2rem;
    outline: none;
    width: 100%;
}

.data_field_input_tag:focus{
    border: .02rem solid #3498db;
    box-shadow: 0 0 .3rem #3498dba2;
}

.description_taxt {
    width: 100%;
    height: 7rem;
    border: .02rem solid #d8d6d6;
    border-radius: .2rem;
    outline: none;
    padding: 1rem;
    font-size: 1.2rem;
}

.description_taxt:focus{
    border: .02rem solid #3498db;
    box-shadow: 0 0 .3rem #3498dba2;
}
/*data table input end*/

/*check box data input start*/
.check_bata_field {
    margin: 2rem;
}

.room_facility_head{
    margin-bottom: .5rem;
}

.room_facility_head h3{
    color: #171B1B;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize;
}

.check_boxes{
    padding: 2rem;
}

.check_box_input{
    cursor: pointer;
}

.check_box_label{
    cursor: pointer;
    margin-left: 1rem;
    color: #686361 !important;
    font-size: 1.3rem !important;
    font-weight: normal !important;
}
/*check box data input end*/

/*add room and text start*/
.room_img_wrapp{
    position: relative;
}

.room_image{
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.room_img_wrapp:hover .close_btn{
    display: block;
}

.close_btn{
    position: absolute;
    text-align: right;
    display: none;
}

.close_btn button{
    background: #000;
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
    padding: .5rem 1rem;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 50%;
    transform: translate(-21%, -340%);
}

.room_image[contenteditable=true]:empty:before{
    content: attr(placeholder);
    pointer-events: none;
    display: block;
}


.room_image[contenteditable=true] {
    border: 1px dashed #AAA;
}

.margin_top_img_row{
    margin-top: 1rem;
}

.add_room_img_text {
    border: .01rem solid #3498db;
    margin-top: 2rem;
    height: 21rem;
}

.add_room_img_text_row{
    height: 100%;
}

.add_text_head{
    border-bottom: .01rem solid #3498db;
    padding:1rem;
}

.add_text_head h3{
    color: #171B1B;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}

.all_text textarea{
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    padding: 1.5rem;
    outline: none;
    border: none;
}

.add_text{
    height: 100%;
}

.all_text{
    height: 80%;
}

.room_img_col{
    margin: 0;
}

.room_img_col_1{
    padding-right: 0;
    border-right: .01rem solid #3498db;
    height: 100%;
}

.room_img_col_2{
    padding-left: 0;
}

.room_product_img{
    margin: 1rem;
}

.img_input_lable{
    height: 100%;
    width: 100%;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_file_input{
    width: 0;
    height: 0;
    overflow: hidden;
}

.clear_add_btn{
    margin: 1rem 0;
}

.das_add_img_btn .choose_btn,button{
    background: #3498db;
    border: none;
    outline: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: .2rem;
}

.choose_img_btn_input{
    width: 0;
    height: 0;
    overflow: hidden;
}

.clear_all_col{
    padding-left: 0;
}

.add_img_col{
    padding-right: 0;
}

.add_img_btn{
    text-align: right;
}
/*add room and text end*/

.add_btn{
    width: 50%;
    margin: auto;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    color: #fff;
    background: #3498db;
    font-weight: bold;
    font-size: 1.7rem;
    text-transform: capitalize;
    border-radius: .2rem;
}
/*data table end*/

/*footer start*/
.footer{
    width: 88%;
    margin-left: auto;
    margin-top: 3rem;
    background: #fff;
    padding: 1rem 5rem;
}

.copy_right_text{
    font-size: 1.5rem;
    color: #000;
    padding: 1rem;
    margin-bottom: 0;
}

.footer_menu{
    margin: 0;
    padding: 1rem;
    float: right;
}

.footer_menu li{
    display: inline;
    list-style: none;
    text-align: right;
    margin: 0 1rem;
}

.footer_menu li a{
    color: #000;
    text-transform: capitalize;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
}
/*footer end*/

/*add hotel and room start*/

.check_bata_field{
    background: #fff;
    padding: 2rem 0;
    margin-bottom: 2rem;
}

.row_margin_top{
    margin-top: 2rem;
}

.chack_box_area{
    padding: 0 2rem;
}

.continue_btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add_room_imgs_wrapp{
    padding: 2rem;
}

.add_room_imgs{
    border: .01rem solid #d8d6d6;
    padding: 2rem;
}

.select_img_text {
    display: flex;
    align-items: center;
    padding-left: 3rem;
}

.select_img_text div h3{
    font-size: 2rem;
    color: #171B1B;
    font-weight: bold;
}

.select_img_text div h4{
    font-size: 1.7rem;
    color: #686361;
    font-weight: normal;
}

.img_select_input{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.img_select_input input{
    font-size: 1.3rem;
    font-weight: bold;
    color: #171B1B;
}

.continue_btn{
    /*margin: 1rem 0;*/
}

.continue_btn a{
    text-decoration: none;
    padding: 1rem;
    display: block;
    background: #3498db;
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}

.content_display_none_1{
    display: none;
}

.content_display_none_2{
    display: none;
}

.content_display_none_3{
    display: none;
}

.content_display_none_4{
    display: none;
}

.content_display_none_5{
    display: none;
}

.content_display_none_6{
    display: none;
}

.display_block{
    display: block !important;
}
/*add hotel and room end*/