

/*main content start*/
.main_content{
    width: 88%;
    margin-left: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

/*user data start*/
.user_data{
    padding: 2rem;
}

/*user profile data heading start*/
.data_heading{
    padding-bottom: 0;
}

.data_heading h3{
    color: #171B1B;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 2.5rem;
}

.data_text a{
    color: #686361;
    text-transform: capitalize;
    font-size: 1.4rem;
    text-decoration: none;
}

.add_text{
    color: #68636194;
    text-transform: capitalize;
    font-size: 1.4rem;
}
/*user profile data heading end*/

/*compose mail content start*/
.compose_mail_content_wrapper{
    margin-top: 1rem;
    background: #fff;
    padding: 2rem 0;
    padding-bottom: 0;
}

.compose_mail_content_heading{
    padding: 1rem 2rem;
    padding-top: 0;
}

.compose_input_box{
    margin-top: 1.5rem;
}

.compose_input_box label{
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #171B1B;
    width: 7%;
}

.compose_input_box input{
    border: none;
    outline: none;
    padding: .8rem 1rem;
    font-size: 1.3rem;
    width: 92%;
    background: none;
    border-radius: .2rem;
    box-shadow: 0 0 0.2rem #000000b0;
}

.compose_mail_content_body_wrapper{
    padding: 2rem 0;
    margin-top: 3rem;
    padding-bottom: 0;
}

.compose_mail_menu{
    background: #EFEFF7;
}

.compose_mail_menu ul{
    margin: 0;
}

.compose_mail_menu ul li{
    list-style: none;
    display: inline-block;
    margin: 2rem 1rem;
    cursor: pointer;
    position: relative;
}

.compose_mail_menu ul li i{
    font-size: 1.5rem;
    font-weight: bold;
    margin: .3rem;
}

.text_color_icon i{
    background: yellow;
}

.compose_mail_menu ul li select{
    font-size: 1.2rem;
    margin: .3rem;
}

.compose_mail_menu ul li:hover .compose_mail_icon_sub_menu{
    display: block;
}

.compose_mail_icon_sub_menu{
    background: #EFEFF7;
    padding: 2rem 0;
    position: absolute;
    display: none;
    z-index: 150;
    margin-left: -50%;
}

.compose_mail_icon_sub_menu ul {
    margin: 0;
    padding: 0;
    width: 10rem;
}

.compose_mail_icon_sub_menu ul li{
    display: inherit;
    width: 100%;
    padding: 1rem;
    text-align: center;
    margin: 0;
    transition: .5s ease-in-out;
}

.compose_mail_icon_sub_menu ul li:hover{
    background: #686361;
    color: #fff;
}

.color_pik ul li:hover{
    background: none;
    color: #171B1B;
}

.color_pik input{
    cursor: pointer;
}

.color_set_btn{
    border: none;
    background: #3498db;
    padding: .5rem;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    width: 100%;
    font-size: 1.4rem;
    outline: none;
}

.color_set_btn:hover{
    background: #03436e;
}

.compose_text_area textarea{
    width: 100%;
    height: 30rem;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: #171B1B;
    padding: 1.5rem;
}

.compose_mail_send_cancel_btn{
    border-top: .01rem solid #68636194;
    padding: 1rem;
}

.com_send_cancel_btn_pair button{
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #fff;
    padding: 1rem 2rem;
}

.compose_send{
    background: #576AFC;
}

.compose_cancel{
    background: #FE407C;
}
/*compose mail content end*/
/*user data end*/
/*main content end*/

