

/*main content start*/
.main_content{
    width: 88%;
    margin-left: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

/*user data start*/
.user_data{
    padding: 0rem;
}

/*chat box wrapper start*/

/*chat box start*/
/*chat box heading start*/
.margin_left{
    margin-left: -2rem;
}

.chat_box_head {
    position: fixed;
    border-right: .01rem solid #ccc4c4;
    border-bottom: .01rem solid #ccc4c4;
    padding: .1rem 1rem;
    width: 65.7%;
    background: #fff;
    z-index: 10;
}

.chat_box_head_content{
    display: flex;
    align-items: center;
}

.chat_box_user_img img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.chat_box_user_name{
    margin-left: 1rem;
}

.chat_box_user_name h3{
    color: #171B1B;
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
}

.typing_text{
    font-size: 1.1rem;
    text-transform: none;
    color: #FF7664;
    margin-left: .1rem;
    font-weight: bolder;
    font-style: italic;
}

.chat_box_user_name h4{
    color: #666;
    font-size: 1.3rem;
    font-weight: normal;
    text-transform: none;
}

.chat_box_search{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.chat_box_search ul {
    margin: 0;
    padding: 0;
}

.chat_box_search ul li{
    list-style: none;
    float: left;
    margin: 0 1rem;
}

.chat_box_search ul li a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: bolder;
    color: #BCBBBC;
}

.chat_box_search ul li input{
    border: none;
    padding: .5rem 1rem;
    outline: none;
    color: #171B1B;
    font-size: 1.3rem;
    border: .1rem solid #ccc4c4;
    border-radius: .2rem;
}
/*chat box heading end*/

/*chat box text area start*/
.chat_box_mas_content{
    padding: 2rem;
}

.friend_img{
    text-align: center;
}

.friend_img img{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}

.friend_img_text{
    margin-top: 1rem;
}

.friend_img_text h3{
    color: #171B1B;
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}

.friend_img_text h4{
    color: #171B1B;
    font-size: 1.2rem;
    font-weight: bold;
}

.friend_img_text h5{
    color: #636063;
    font-size: 1.2rem;
    font-weight: bold;
}

.job_type{
    text-transform: uppercase;
}

.chat_box_text_area{
    width: 65.7%;
    height: calc(100vh - 12rem);
    background: #fff;
    overflow: hidden;
    position: fixed;
}

.chat_box_text_area:hover{
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat_box_text_area{
    border-right: .01rem solid #ccc4c4;
    padding-top: 5rem;
}

.massege_wrapp{
    margin-top: 2rem;
}

.mgs_content{
    display: flex;
}

.frnd_img{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.frnd_img img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-top: auto;
    margin-right: -3rem;
    z-index: 5;
}

.massege_text_wrapper{
    width: 70%;
}

.rsv_massege{
    background: #F9993c;
    width: 100%;
    border-radius: 0 .5rem .5rem 0;
}

.massege_txt{
    margin: .5rem 1rem;
}

.massege_txt h4{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    padding: 1.7rem 2rem;
    margin-bottom: 0;
}

.snd_massege_text_wrapper{
    margin-left: auto;
}

.snd_massege{
    background: #FF7664;
    width: 100%;
    border-radius: .5rem 0rem 0rem .5rem;
}
/*chat box text area end*/

/*massege input box start*/
.massege_input_box{
    margin-top: calc(100vh - 12rem);
    position: fixed;
    border-top: .01rem solid #ccc4c4;
    border-right: .01rem solid #ccc4c4;
    width: 65.7%;
    background: #fff;
}

.mas_inp_box{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
}

.file_link_wrapp{
    width: 20%;
    display: flex;
}

.massege_input_wrap{
    display: flex;
    width: 80%;
    border-radius: 3rem;
    border: .01rem solid #ccc4c4;
    overflow: hidden;
}

.file_link_wrapp label{
    padding: 1rem;
    text-align: center;
    padding-left: 0ch;
}

.file_link_wrapp label i{
    font-size: 2rem;
    color: #636063;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
}

.file_link_input{
    width: 0%;
    overflow: hidden;
}

.massege_input_wrap input{
    border: none;
    font-size: 1.5rem;
    color: #171B1B;
    font-weight: normal;
    width: 95%;
    outline: none;
    padding: 0 1.5rem;
}

.massege_input_wrap button{
    background-image: linear-gradient(to right, #FF9B46,#FF7664);
    border: none;
    outline: none;
    padding: 1rem 3rem;
}

.massege_input_wrap button i{
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}
/*massege input box end*/

/*chat box wrapper end*/

/*user profile start*/
.user_profile{
    width: 107%;
}

.user_profile_head{
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: .01rem solid #ccc4c4;
}

.user_profile_head ul{
    margin: 0;
    padding: 0;
}

.user_profile_head ul li{
    float: left;
    list-style: none;
    border-bottom: .2rem solid #F5F5F5;
}

.user_profile_head ul li a{
    text-decoration: none;
    color: #BCBBBC;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    padding: 1.9rem;
    display: block;
}

.user_profile_head ul li:hover a{
    color: #171B1B;
}

.user_profile_head ul li:hover{
    border-bottom: .2rem solid #F9993c;
}

.active_li{
    border-bottom: .2rem solid #F9993c !important;
}

.active_li a{
    color: #171B1B !important;
}

.profile_body_content{
    padding: 2rem;
}

.body_content_top_wrapp{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.profile_edit_btn_icon{
    float: right;
    padding: 1rem;
    background: #d6d6d6;
    border-radius: 50%;
    text-align: center;
    height: 3rem;
    width: 3rem;
    list-style: none;
    margin-right: -50%;
}

.profile_edit_btn_icon i{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-top: 50%;
    transform: translateY(-50%);
}

.body_content_top{
    text-align: center;
}

.body_content_top img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.body_content_top h4{
    font-size: 2.4rem;
    color: #171B1B;
    font-weight: normal;
    text-transform: capitalize;
    margin-top: .5rem;
    font-weight: bold;
}

.body_content_top h5{
    font-size: 1.4rem;
    color: #636063;
    font-weight: normal;
    text-transform: capitalize;
}

.profile_user_data{
    margin-top: 4rem;
}

.profile_data_name h4{
    text-transform: capitalize;
    color: #171B1B;
    font-size: 1.4rem;
    font-weight: bold;
}

.profile_data_value h4{
    font-size: 1.5rem;
    color: #636063;
}

.margin_top_profile_name_row{
    margin-top: .3rem;
}

.side_profile_btn{
    display: flex;
    margin-top: 3rem;
}

.side_profile_btn button{
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    width: 50%;
    padding: 1rem;
}

.all_file_btn{
    background: #F9993c;
    color: #fff;
}

.side_profile_btn button:hover{
    background: #FF7664;
    color: #fff;
}

.pdf_text_wrapp{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1rem;
    margin-top: 2rem;
}

.pdf_icon{
    padding: 1rem;
}

.pdf_icon i{
    font-size: 2rem;
    color: #171B1B;
}

.pdf_text h4{
    font-size: 1.4rem;
    color: #171B1B;
    font-weight: bolder;
}

.learn_gatin{
    color: #F9993c;
    margin-right: .5rem;
    font-size: 1.1rem;
}

.pdf_text h5{
    font-size: 1.2rem;
    color: #666;
    font-weight: normal;
}
/*user profile end*/
/*chat box end*/

/*user data end*/
/*main content end*/

