

/*main content start*/
.main_content{
    width: 88%;
    margin-left: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

/*user data start*/
.user_data{
    padding: 2rem;
}

/*user profile data heading start*/
.data_heading{
    padding-bottom: 0;
}

.data_heading h3{
    color: #171B1B;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 2.5rem;
}

.data_text a{
    color: #686361;
    text-transform: capitalize;
    font-size: 1.4rem;
    text-decoration: none;
}

.add_text{
    color: #68636194;
    text-transform: capitalize;
    font-size: 1.4rem;
}
/*user profile data heading end*/

/*singal page invoice content wrapper end*/
.singal_page_invoice_content_wrapper{
    margin-top: 3em;
    background: #fff;
}

.singal_page_invoice_heading{
    border-bottom: .01rem solid #68636195;
    padding: 2rem 4rem;
}

.concept{
    display: flex;
    align-items: center;
    height: 100%;
}

.concept h4{
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 0;
    color: #171B1B;
    text-transform: capitalize;
}

.invoice_page_num{
    float: right;
}

.invoice_page_num h4{
    font-size: 1.7rem;
    font-weight: bold;
    color: #171B1B;
    text-transform: capitalize;
}

.invoice_page_num h5{
    font-size: 1.3rem;
    color: #171B1B;
    text-transform: capitalize;
}

.singal_inboice_address{
    padding: 2rem 4rem;
}

.si_in_add_content h3{
    color: #171B1B;
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: capitalize;
}

.si_in_add_content h4{
    color: #171B1B;
    font-weight: bold;
    margin-top: 1rem;
    font-size: 2rem;
    text-transform: capitalize;
}

.si_in_add_content h5{
    color: #686361;
    font-weight: normal;
    font-size: 1.5rem;
}
/*payments table start*/
.payment_table_content {
    overflow: hidden;
    padding: 1rem 0;
    padding-bottom: 1.5rem;
}

.payment_table_content table{
    width: 100%;
}

.td_1{
    width: 7rem;
}

.td_2{
    width: 20rem;
}

.td_3{
    width: 39rem;
}

.td_4{
    width: 12rem;
}

.td_5{
    width: 7rem;
}

.td_6{
    width: 15rem;
}

.payment_table_content table tr{
    box-shadow: 0 0.2rem 0.5rem #36434d3a;
}

.payment_table_content table tr th{
    padding: 1.3rem;
    font-size: 1.4rem;
    color: #171B1B;
    font-weight: bold;
    text-transform: capitalize;
}

.payment_table_content table tr th i{
    float: right;
}

.payment_table_content table tr td{
    padding: 1.3rem;
    font-size: 1.3rem;
    color: #171B1B;
    font-weight: normal;
}

.payment_table_content table tr:nth-child(even){
    background: #F3F2F8;
}

.table_head_row{
    background: #fff;
}
/*payments table end*/

/*total calculated start*/
.total_calculated{
    padding: 4rem 2em;
    padding-top: 0;
}

.calculated_row_border_top{
    border-top: .01rem solid #E4E6E8;
}

.subtotal{
    padding: 1rem 0;
}

.subtotal_value{
    padding: 1rem 0;
}

.subtotal h4{
    color: #171B1B;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: capitalize;
}

.subtotal_value h4{
    color: #686361;
    font-weight: normal;
    font-size: 1.3rem;
}

.cal_total_value h4{
    font-weight: bold;
    color: #171B1B;
}
/*total calculated end*/

/*singal page invoice content wrapper end*/
/*user data end*/
/*main content end*/

