

/*main content start*/
.main_content{
    width: 88%;
    margin-left: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

/*user data start*/
.user_data{
    padding: 2rem;
}

/*user profile data heading start*/
.data_heading{
    padding-bottom: 0;
}

.data_heading h3{
    color: #171B1B;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 2.5rem;
}

.data_text a{
    color: #686361;
    text-transform: capitalize;
    font-size: 1.4rem;
    text-decoration: none;
}

.add_text{
    color: #68636194;
    text-transform: capitalize;
    font-size: 1.4rem;
}
/*user profile data heading end*/

/*mail content start*/
.mail_content_wrapper{
    margin-top: 2rem;
}

.mail_content_heading{
    border-bottom: .01rem solid #94878259;
    border-top: .01rem solid #94878259;
    padding: 1rem 2rem;
}

.mail_user_img{
    display: flex;
    align-items: center;
}

.mail_user_img h4{
    font-size: 1.7rem;
    color: #5b5a5f;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 1rem;
}

.mail_to_me{
    font-size: 1.3rem;
    font-weight: bold;
}

.mail_user_img h4 i{
    margin-left: .5rem;
}

.mail_user_img img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.mail_date_num{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.mail_date_num h5{
    font-size: 1.1rem;
    color: #5b5a5f;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 0;
}

.mail_body_content{
    padding: 2rem 4rem;
}

.mail_body_content h4{
    font-size: 1.5rem;
    font-weight: 500;
    color: #5b5a5f;
}

.mail_body_content p{
    font-size: 1.4rem;
    font-weight: 500;
    color: #5b5a5f;
    font-weight: normal;
}

.mail_content_footer{
    border-top: .01rem solid #94878259;
    padding: 2rem 4rem;
}

.mail_content_footer h4{
    font-size: 1.4rem;
    color: #686361;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.mail_content_footer h3{
    font-size: 1.3rem;
    color: #171b1bb7;
    text-transform: capitalize;
    font-weight: bold;
}
/*mail content end*/
/*user data end*/
/*main content end*/

