

/*main content start*/
.main_content{
    width: 88%;
    margin-left: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

/*user data start*/
.user_data{
    padding: 2rem;
}

/*user profile data heading start*/
.data_heading{
    padding-bottom: 0;
}

.data_heading h3{
    color: #171B1B;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 2.5rem;
}

.data_text a{
    color: #686361;
    text-transform: capitalize;
    font-size: 1.4rem;
    text-decoration: none;
}

.add_text{
    color: #68636194;
    text-transform: capitalize;
    font-size: 1.4rem;
}
/*user profile data heading end*/

/*payments entries start*/
.payments_entries{
    margin-top: 3em;
}

.show_enties_title_content h3 span{
    color: #171B1B;
    font-size: 1.4rem;
    font-weight: bold;
}

.show_enties_title_content input{
    border: .01rem solid #aaa6a6;
    font-size: 1.3rem;
    color: #171B1B;
    width: 5rem;
    padding: .3rem;
    margin: 0 .5rem;
    border-radius: .3rem;
}

/*payments table start*/
.payment_table_content {
    overflow: hidden;
    padding: 1rem 0;
    padding-bottom: 1.5rem;
}

.payment_table_content table{
    width: 100%;
}

.payment_table_content table tr{
    box-shadow: 0 0.2rem 0.5rem #36434d3a;
}

.payment_table_content table tr th{
    padding: 1.3rem;
    font-size: 1.4rem;
    color: #171B1B;
    font-weight: bold;
    text-transform: capitalize;
}

.payment_table_content table tr th i{
    float: right;
}

.payment_table_content table tr td{
    padding: 1.3rem;
    font-size: 1.3rem;
    color: #171B1B;
    font-weight: bold;
}

.table_head_row{
    background: #fff;
}
/*payments table end*/

.next_prv_title h3{
    color: #171B1B;
    font-size: 1.4rem;
    font-weight: bold;
}

.next_prv_btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.nP_btn{
    background: #fff;
    border: .01rem solid #EFEAD7;
    width: 20rem;
}

.nP_btn button,input{
    background: none;
    outline: none;
    font-size: 1.3rem;
    color: #686361;
    border: none;
    width: 38%;
    text-align: center;
    padding: .7rem;
}

.nP_btn input{
    width: 24%;
    background: #FF7664;
    color: #fff;
}
/*payments entries end*/
/*user data end*/
/*main content end*/
