

/*main content start*/
.main_content{
    width: 88%;
    margin-left: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

/*user data start*/
.user_data{
    padding: 2rem;
}

/*user profile data heading start*/
.data_heading{
    padding-bottom: 0;
}

.data_heading h3{
    color: #171B1B;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 2.5rem;
}

.data_text a{
    color: #686361;
    text-transform: capitalize;
    font-size: 1.4rem;
    text-decoration: none;
}

.add_text{
    color: #68636194;
    text-transform: capitalize;
    font-size: 1.4rem;
}
/*user profile data heading end*/

/*user dtl start*/
.user_dtl{
    margin-top: 2rem;
    background: #fff;
    padding: .5rem;
    border-radius: .3rem;
}

.user_img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.user_img img{
    height: auto;
    width: 18rem;
    border-radius: 50%;
}

.user_bio_wrapp{
    display: flex;
    align-items: center;
    height: 100%;
}

.user_bio h4{
    font-size: 2rem;
    color: #171B1B;
    font-weight: bold;
    text-transform: capitalize;
}

.user_bio h5{
    font-size: 1.5rem;
    color: #171B1B;
    font-weight: bold;
}

.user_bio h6{
    font-size: 1.2rem;
    color: #686361;
    text-transform: uppercase;
}

.user_bio h3{
    font-size: 1.5rem;
    color: #171B1B;
    font-weight: bold;
    text-transform: capitalize;
}

.user_bio button{
    background-image: linear-gradient(to left, #FF9B46,#FF7664);
    border-radius: .2rem;
    border: none;
    outline: none;
    margin-top: 2rem;
}

.user_bio button a{
    font-size: 1.5rem;
    padding: 1rem;
    color: #fff;
    font-weight: bold;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
}

.user_dtl_content_col{
    border-right: .5rem dotted #F5F5F5;
}

.item_name h3{
    color: #171B1B;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize;
}

.item_val h3 a,h3{
    font-size: 1.3rem;
    font-weight: bold;
    color: #686361;

}

.link_val h3 a{
    color: #3498db;
    text-decoration: none;
}

.dtl_item_row_margin_top{
    margin-top: 1rem;
}

.dtl_content_wrapp {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 1.5rem;
}
/*user dtl end*/

/*family information start*/
.family_information{
    background: #fff;
    padding: 2rem;
    margin: 2rem 0;
    border-radius: .3rem;
}

/*family information heading start*/
.family_information_head{
    border-bottom: .2rem solid #EEF0F1;
    padding-bottom: 1rem;
}

.family_info_hed_text h3{
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: bold;
    color: #171B1B;
    margin-bottom: 0;
}

.family_info_edit_icon li{
    list-style: none;
    float: right;
    background: #EEF0F1;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

.family_info_edit_icon li i{
    font-size: 1.4rem;
}
/*family information heading start*/
.family_information_table{
    margin-top: 1.5rem;
}

.family_information_table table{
    width: 100%;
}

.first_tr{
    border-bottom: .2rem solid #EEF0F1;
}

.family_information_table table tr th{
    color: #171B1B;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0 1rem;
    padding-bottom : 1.3rem;
}

.option{
    opacity: 0;
}

.family_information_table table tr td{
    color: #171B1B;
    font-size: 1.3rem;
    font-weight: bold;
    padding : 1.3rem 1rem;
}

.mor_opt_icon_li{
    list-style: none;
    float: right;
    position: relative;
    padding: .7rem;
    cursor: pointer;
}

.mor_opt_icon_li:hover .more_opt{
    display: block;
}

.mor_opt_icon_li i{
    font-size: 1.5rem;
    color: #171B1B;
}

.more_opt{
    background: #36434dea;
    padding: 1rem 0;
    width: 10rem;
    position: absolute;
    display: none;
    margin-left: -275%;
    border-radius: .2rem;
    z-index: 50;
}

.more_opt ul {
    margin: 0;
    padding: 0;
}

.more_opt li{
    list-style: none;
    color: #EEF0F1;
    padding: .5rem 1rem !important;
}

.more_opt li:hover{
    background: #F9993c;
    color: #000;
}
/*family information table start*/

/*family information table end*/
/*family information end*/

/*user data end*/
/*main content end*/

